.infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2979FF;
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;
  }
  
  .leftInnerContainer {
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
  }
  
  .rightInnerContainer {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    margin-right: 5%;
    align-items: center;
  }
  
  .onlineIcon {
    margin-right: 5%;
  }

  #icon{
      margin-right: 20px;
      color: white;
      padding-bottom: 2px;
  }

  #icon:hover{
      cursor: pointer;
  }

  #shareIcon{
    margin-right: 20px;
    color: white;
    padding-bottom: 2px;
}

#shareIcon:hover{
    cursor: pointer;
}

  .ReactModal__Content {
    position: absolute; 
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    overflow: auto;
    background-color: #fff;
    -webkit-transform: translate(-50,-50%);
    transform: translate(-50,-50%);
}